<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Weather App</title>
  <link rel="icon" href="img/weather.png" />
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to show weather in your location</p>

    <form>
      <input placeholder="Enter address to search for">
      <button>Search</button>
    </form>
    <p id="message-one"></p>
    <p id="message-two"></p>
  </div>
  {{>footer}}
</body>
<script src="js/app.js"></script>

</html>